.personal {
    display: flex;
    justify-content: space-around;
}

.personal img {
    border-radius: 10px;
    width: 250px;
    height: 250px;
}

.charac {
    position: relative;
    color: white;
}

.flynn {
    position: absolute;
    top: 35%;
    left: 2%;
}